a {
    color: black;
}
.title_of_the_page h1 {
    font-size: 72px;
    font-family: 'Arial';
    margin-bottom: 0px;
    border: black 1px;
    border-style: dashed;
}
.news_genres li {
    margin-right: 64px;
    margin-left: 64px;
    margin-top: auto;
}
.news_genres li:last-child {
    margin-right: 100px;
}
.news_page img {
    margin-top: 60px;
}
.news_page p {
    font-size: 24px;
    color: #313131;
    margin-left: 640px;
}